
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes merge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.merge {
  animation: merge 0.2s ease-in-out;
}